@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
  box-sizing: border-box;
  border: solid #5B6DCD 1px;
}

body {
  font-family: 'Roboto', 'san-serif';
  height: 100vh;
  overflow: hidden;
  margin: 0;
}